img.svelte-im00ab{object-fit:cover}h3.svelte-im00ab{font-family:"Playfair Display"}
img.svelte-1rmedv3{object-fit:cover}h3.svelte-1rmedv3{font-family:"Playfair Display";font-size:150%}.featured-item-card.svelte-1rmedv3{height:250px}hr.svelte-1rmedv3{border:0;clear:both;display:block;width:96%;background-color:rgba(0, 0, 0, 0.1);height:1px}
