img.svelte-14uyqcm{object-fit:cover}h3.svelte-14uyqcm{font-family:"Playfair Display";font-size:150%}
img.svelte-9xt3pv{object-fit:cover}h3.svelte-9xt3pv{font-family:"Playfair Display";font-size:150%}hr.svelte-9xt3pv{border:0;clear:both;display:block;width:96%;background-color:rgba(0, 0, 0, 0.1);height:1px}
