img.svelte-im00ab{object-fit:cover}h3.svelte-im00ab{font-family:"Playfair Display"}
img.svelte-oj0m1c{object-fit:cover}h3.svelte-oj0m1c{font-family:"Playfair Display";font-size:150%}.featured-item-card.svelte-oj0m1c{height:220px}hr.svelte-oj0m1c{border:0;clear:both;display:block;width:96%;background-color:rgba(0, 0, 0, 0.1);height:1px}
