img.svelte-im00ab{object-fit:cover}h3.svelte-im00ab{font-family:"Playfair Display"}
img.svelte-pn740c{object-fit:cover}h3.svelte-pn740c{font-family:"Playfair Display"}hr.svelte-pn740c{border:0;clear:both;display:block;width:96%;background-color:rgba(0, 0, 0, 0.1);height:1px}
.container.svelte-424vga{padding-top:80px}
